body {

  /* overflow-x: auto; */
  /* overflow-y: auto; */
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;

  user-select: none;
  height: 100%;
  background-color: #f0f2f5;
}

html {
  background-color: #f0f2f5;
}

.hr-facebook-home {
  border: 0.1px solid #3a3c3d
}

.container {

  display: flex;
  flex-direction: column;
  height: 100%;
}

.login {
  display: flex;
  flex-direction: row;
  height: 100%;

  /* align-items: center; */
  justify-content: space-around;
  background-color: #f0f2f5;
  padding-top: 15rem;
}

.register-container {
  display: flex;
  flex-direction: row;
  height: 100%;


  /* align-items: center; */
  justify-content: space-around;
  background-color: #f0f2f5;
  padding-top: 2.5rem;
}

.register-form {
  height: 37.5rem;
  width: 32.5rem;
  box-shadow: 0px 5px 5px 5px #dee0e2;
  ;
  border-radius: 0.65rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-click {
  cursor: pointer;
  color: #0866ff;
  font-weight: 400;
  margin-top: 1rem;
}

.text-click:hover {
  text-decoration: underline;
}

.register-name {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 1.5rem;
  padding: 0 1rem;
  justify-content: space-between;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}

.text-login-container {
  max-width: 22.5rem;
  min-height: 20rem;
}

.facebook-text-login {
  font-size: 3.5rem;
  color: #0866ff;
}

.auth-container {
  background-color: white;
  height: 30rem;
  width: 30rem;
  border-radius: 1rem;
  margin-top: -5rem;
}

.form-login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  height: 25rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

.login-input {
  user-select: none;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  width: 25rem;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: start;
  outline: #0866ff;
  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.25rem;
}

.password-container {
  display: flex;
  align-items: center;
  position: relative
}

.login-input:focus {
  border: 1px solid #0866ff;
  box-shadow: 0 0 2px rgba(24, 119, 242, 0.5);
}

.register-gender {

  border: 1px solid #ddd;
  border-radius: 0.4rem;
  width: 25rem;
  height: 3.5rem;
  margin-bottom: 1.5rem;
  text-align: start;

  padding: 1rem 3rem 1rem 1rem;
  font-size: 1.25rem;
}

.eye-icon {
  position: absolute;
  /* align-items: flex-end; */
  right: 1rem;
  margin-bottom: 1.5rem;
  /* top: 50%; */


  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.date-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
  width: 100%;
}

.gender-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1rem;
  width: 100%;
}

.label-gender-register {
  display: flex;
  width: 8.5rem;
  height: 2.5rem;
  border: 1px solid #ddd;
  border-radius: 0.4rem;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;

  /*align-self: center; */
}

.navbar {
  background-color: #252728;
  height: 3.5rem;
  border-bottom: 1px solid #3a3c3d;
  display: flex;
  flex-direction: row;
  top: 0px;
  position: fixed;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  z-index: 2000;
  user-select: none;
}

.home {
  background-color: #1c1c1d;
  height: 100%;
  margin-top: 4rem;
  overflow-y: visible;
}

.facebook-icon {
  height: 2.5rem;
  width: 4rem;
}

.home-input {
  width: 17.5rem;
  border-radius: 1.5rem;
  height: 2.5rem;
  background-color: #333334;
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  color: white;
}

.home-input:hover {
  border: none;
}

.home-icon-middle-container {
  display: flex;
  width: 68vw;
  flex-direction: row;
  justify-content: center;


  overflow: hidden;
}

.home-icon-middle {
  color: #b0b3b8;
  height: 3.5rem;
  width: 9rem;
  font-size: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-icon-middle-blue {
  height: 3.5rem;
  width: 10rem;
  font-size: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.25rem solid #0866ff;
  color: #0866ff;

}

.home-icon-middle:hover {
  background-color: #333334;

}

.home-icon-middle svg {
  transform: scale(0.5);
  /* Chỉ scale SVG, không ảnh hưởng border */
}

.home-icon-middle-blue svg {
  transform: scale(0.5);
  /* Chỉ scale SVG, không ảnh hưởng border */
}

.home-icon-right-container {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 19.5vw;


  margin-right: 1.5vw;
  padding-left: 5vw;

}

.home-icon-right {
  color: white;
  display: flex;
  align-items: center;
  font-size: 2.5rem;
  cursor: pointer;

}

.friend-card-left {
  height: 6.5rem;
  padding: 1rem;
  width: 100%;
  /* background-color: red; */
  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  border-radius: 0.5rem;
}

.friend-card-right {
  height: 6.5rem;
  padding: 1rem;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  flex: 1;
  border-radius: 0.5rem;
}

.friend-card-right-fake {
  height: 6.5rem;
  padding: 1rem;
  width: 100%;

  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  border-radius: 0.5rem;
}

.friend-card-left:hover {
  background-color: #424546;
}

.friend-card-right:hover {
  background-color: #424546;
}

.icon-round-background {
  user-select: none;
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #3b3d3e;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: visible;
  position: relative;
  cursor: pointer;
}

.icon-round-background:hover {
  background-color: #424546;
}

.home {
  display: flex;
  height: 100vh;
  overflow: visible;

}

.left-home {
  position: fixed;
  height: 100vh;
  color: #ddd;
  width: 20vw;
  margin-left: 1vw;

  overflow: auto;
}

.mid-home {
  margin-left: 21vw;
  margin-right: 21vw;
  display: flex;
  flex-direction: column;
  color: #ddd;
  scrollbar-width: 0;
  -ms-overflow-style: none !important;
  width: 68vw;
  align-items: center;

  min-height: 100vh;
  /* overflow: auto; */
}

.mid-home>* {
  width: 70%;
}

.left-home::-webkit-scrollbar {
  display: none;
}

.mid-home::-webkit-scrollbar {
  display: none;
}

.right-home::-webkit-scrollbar {
  display: none;
}

.modal-comment-box::-webkit-scrollbar {
  display: none;
}

.right-home {
  overflow: auto;
  color: #ddd;
  width: 20vw;


  position: fixed;

  right: 0;
  height: 100%;


}

.left-home-items-sign-out {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;

  cursor: pointer;
  user-select: none;
}

.left-home-items-interact {

  display: flex;

  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.loading-user-image {
  min-height: 2.5rem;
  min-width: 2.5rem;
  user-select: none;
  border-radius: 50%;
  background-color: #3b3d3e;
  animation: loadingPost 1.5s infinite;
}

.loading-user-image-mes {
  min-height: 3.25rem;
  min-width: 3.25rem;
  user-select: none;
  border-radius: 50%;
  background-color: #3b3d3e;
  animation: loadingPost 1.5s infinite;
}

.left-home-items {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  align-items: center;
}

.left-home-items-like {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
  user-select: none;
}

.left-home-items:hover {
  background-color: #333334;
}

.left-home-text {
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  max-width: 70%;
  overflow-wrap: break-word;
  white-space: normal;
  white-space: pre-line;
  word-wrap: break-word;
}

.create-post-container {
  height: 7.5rem;
  width: 44rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  background-color: #252728;
  padding: 0.75rem;
}

.post-list-container {
  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-share-value {
  height: auto;
  background-color: #252728;
  display: flex;
  align-items: center;
  flex-direction: column;



}

.post-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  background-color: #252728;
  border-radius: 1rem;
  height: auto;
  min-height: 10rem;
  width: 44rem;
  /* align-items: stretch; */
  /* overflow: visible; */
}

.post-loading-container {
  margin-bottom: 2rem;
  background-color: #252728;
  border-radius: 0.5rem;
  width: 44rem;
  height: 60rem;
}

.right-home-loading-container {}

.emoji-loading-post-container {
  display: flex;
  align-items: center;
  height: 3.5rem;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.user-post-container {
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  padding: 0.625rem;
  /* position: relative; */
  /* margin-bottom: 1rem; */
  /* background-color: red; */
}

.text-post-container {
  padding: 0.625rem;
}

.text-post {
  white-space: pre-line;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-wrap: break-word;

}

.text-post-comment {
  white-space: pre-line;
  -webkit-box-orient: vertical;
  font-size: 0.95rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-wrap: break-word;
}

.read-more {
  cursor: pointer;
}

.read-more:hover {
  text-decoration: underline;
}

.text-post.expanded {
  -webkit-line-clamp: unset;
  overflow: visible;
}

.image-post {
  user-select: none;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.image-message.right {
  margin-top: 0.5rem;
  cursor: pointer;
  width: 70%;
  align-self: flex-end;
  height: 10rem;
  background-color: black;
  border-radius: 1rem;
}

.image-message.left {
  margin-top: 0.5rem;
  cursor: pointer;
  width: 70%;

  height: 10rem;
  background-color: black;
  border-radius: 1rem;
}

.image-message:hover {
  background: rgba(255, 255, 255, 0.1);
}

.interact-post {

  display: flex;
  flex-direction: column;
}

.infomation-interact-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.text-infomation-interact-post {
  color: #9b9fa3;
  font-size: 1rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.text-infomation-interact-post:hover {
  text-decoration: underline;
}

.action-interact-post {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}

.modal-comment-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3000;
}

.modal-share-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3000;
}

.modal-emoji-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3000;
}

.modal-info-container {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 3000;
}

.modal-create-post-container {
  position: fixed;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  top: 0;
  left: 0;
  z-index: 3000;
}


.modal-comment-box {
  display: flex;
  flex-direction: column;
  width: 41.5rem;
  height: 90%;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  background-color: #252728;
  overflow: auto;
  position: relative;
  -ms-overflow-style: none !important;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.modal-info-box {
  display: flex;
  margin-top: 10rem;
  flex-direction: column;
  min-width: 41.5rem;
  width: auto;
  height: auto;
  min-height: 50%;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  background-color: #252728;
  overflow-y: auto;
  position: relative;
  -ms-overflow-style: none !important;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.modal-create-post-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 41.5rem;
  height: auto;
  min-height: 70%;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  background-color: #252728;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none !important;
  position: fixed;

}

.modal-share-post-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 41.5rem;
  height: auto;
  min-height: 40%;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  background-color: #252728;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none !important;
  position: fixed;

}

.modal-emoji-post-box {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 32.5rem;
  height: 60%;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
  padding-top: 3.5rem;
  background-color: #252728;
  overflow: hidden;
  position: relative;
  -ms-overflow-style: none !important;
  position: fixed;
}

.close-button {
  right: 0;
  top: 0;
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  padding: 1rem 1rem 0 0;
  cursor: pointer;
}

.emoji-appear {
  position: absolute;
  width: 17.5rem;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 2.5rem;
  background-color: #1c1c1d;
  border-radius: 5rem;
  opacity: 0;
  display: none
}

.comment-list {
  margin: 1rem 0 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  /* overflow-y: auto; */
}

.comment {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 39rem;
  padding: 0.5rem;

}


.reply-comment {
  display: flex;
  flex-direction: row;
  height: auto;
  width: 35rem;
  padding: 0.5rem;

  position: relative;
}




.user-image-comment {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #3b3d3e;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.comment-info-container {
  display: flex;
  flex-direction: column;
  background-color: #333334;
  padding: 0.5rem;
  border-radius: 1rem;
}

.text-comment {

  border-radius: 1rem;
  font-size: 0.95rem;
  padding: 0.25rem;
  overflow: hidden;

  margin-left: 0.5rem;
  flex-grow: 1;
  min-width: 0;
  white-space: pre-line;
  overflow-wrap: break-word;
  word-break: break-word;
}

.text-comment-reply {
  margin-left: 3vh;
  cursor: pointer;
}

.comment-input {
  display: flex;
  flex-direction: column;

  height: auto;
  /* flex: 1; */
  z-index: 1000;
  margin-right: 0.5rem;
  background-color: #252728;
  border-top: 0.5px solid #3a3c3d;
  position: sticky;
  bottom: 0;
  justify-content: flex-end;
  width: 100%;
  padding-bottom: 0.5rem;


}

.text-comment-input {
  background-color: #333334;
  border-radius: 1rem 1rem 0 0;
  font-size: 0.95rem;
  padding: 0.5rem;
  margin-right: 1rem;
  outline: none;
  border: none;
  word-wrap: break-word;
  margin-left: 0.5rem;
  flex-grow: 1;
  min-width: 0;
  background-color: '#333334';
  overflow-y: hidden;
  overflow-y: auto;
  resize: none;
  color: white;
  white-space: pre-wrap;
}

.create-post-image {

  background-color: #333334;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.9vh;
  padding: 0.5rem;
  outline: none;
  border: none;
  min-height: 15vh;
  word-wrap: break-word;
  margin: 0.5rem;
  flex: 1;
  background-color: '#333334';
  resize: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create-post-image:hover {
  background-color: #424546;
}

.create-post-input {
  background-color: #333334;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  font-size: 1.9vh;
  padding: 0.5rem;
  outline: none;
  border: none;

  min-height: 15vh;
  word-wrap: break-word;
  margin: 0.5rem;
  background-color: '#333334';
  overflow-y: auto;
  resize: none;
  color: white;
  white-space: pre-wrap;
}

.messenger {
  position: absolute;
  right: 0;
  width: 25rem;
  height: 90vh;
  background-color: #252728;
  top: 3rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

}

.messenger-card-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 0.5rem;

}

.notification-card-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #252728;
  margin-left: 0.5rem;
}

.user-setting-card-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #252728;
  margin-left: 0.5rem;
}

.messenger-card-container::-webkit-scrollbar-track {
  background: red !important;
  border-radius: 10px;
}

.messenger-card {
  display: flex;
  flex-direction: row;
  align-items: center;

  cursor: pointer;
  padding: 1.5vh;
  border-radius: 1rem;
}

.notification-card {
  display: flex;
  flex-direction: row;
  background-color: #252728;
  padding: 1.5vh;
  cursor: pointer;
  border-radius: 1rem;
}

.user-setting-card {
  display: flex;
  flex-direction: row;
  background-color: #252728;
  padding: 1.5vh;
  cursor: pointer;
  align-items: center;
  border-radius: 1rem;
}

.user-setting-card:hover {}

.home-icon-right-noti {
  color: white;
  justify-content: center;
  display: flex;
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
}

.messenger-card:hover {
  background-color: #424546;
}

.notification-card:hover {
  background-color: #424546;
}

.user-setting-card:hover {
  background-color: #424546;
}

.messenger-card-text {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: space-around;
  height: 100%;
  width: 90%;

}

.backdrop {

  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;

}

.home-icon-right-mes {
  color: white;

  font-size: 2.5rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
}

.notification-round {
  height: 1rem;
  width: 1rem;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: -0.1rem;
  animation: appear-noti 0.75s linear
}

@keyframes appear-noti {
  0% {
    scale: 0;
  }

  75% {
    scale: 1.2;
  }

  100% {
    scale: 1
  }
}

.messenger-down-container {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  width: auto;
  height: 29rem;
  /* background-color: #b0b3b8; */
  bottom: 0;
  right: 10vh;

}

.messenger-down-card {
  height: 100%;
  width: 20rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid rgb(55, 49, 49);
}

.nav-bar-card {
  position: absolute;
  height: 3rem;
  width: 100%;
  background-color: #333334;
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #2f3031;
  align-items: center;
  padding: 0.5rem
}


.close-button-small {

  height: 4vh;
  width: 4vh;
  /* right: 0; */
  cursor: pointer;
}

.messenger-down-card-text-container {
  margin-top: 2.5rem;
  height: 40rem;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  background-color: #242526;
  overflow: auto;
  padding: 0.5rem;
}

.messenger-down-card-text {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 0.5rem;

}

.text-messenger-left {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.text-messenger-right {
  color: white;
  margin-left: auto;
  margin-right: 0.5rem;

}


.messenger-down-card-input {
  height: auto;
  padding: 1rem 0 1rem 0;
  width: 100%;
  /* #252728 */
  background-color: #252728;
  border-top: 1px solid #65686c;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
}

.messenger-seen {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.messenger-down-card-input-bar {
  outline: none;
  border: none;
  background-color: #333334;
  flex: 1;
  padding: 0.5rem;
  color: white;
  font-size: 1rem;
  height: auto;
  border-radius: 1rem;
  border: none;
  margin-left: 1rem;
  word-wrap: break-word;
  resize: none;
}

.messenger-down-icon-left {
  height: 2.5rem;
  width: 2.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  border-radius: 40%;
}

.notification-container {
  position: absolute;
  width: 50vh;
  height: 90vh;
  background-color: #252728;
  top: 3rem;
  margin-right: 30vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.user-setting-container {
  position: absolute;
  width: 25rem;
  height: 13rem;
  background-color: #252728;
  top: 3rem;
  margin-right: 15rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 0.1rem solid rgb(126, 121, 121);
}

.messenger-down-icon-right {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
  user-select: none;
  padding: 0.5rem;
  border-radius: 50%;
}

.image-profile {
  background-color: black;
  height: 100%;
  position: relative;
  width: 75rem;
  border-radius: 0 0 1.5vh 1.5vh;
  margin-top: 7rem;

}

.profile {
  /* overflow: auto; */
  display: flex;
  flex-direction: column;
  background-color: #1c1c1d;
  flex: 1;
  height: 100%;
  align-items: center;
}

/* zzzzzzz */
.nav-profile {
  background: linear-gradient(180deg, #bdc0c5, #242626);
  /* margin-top: 7vh; */
  height: 27.5rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* margin-top: ; */

}

.body-profile {
  margin-top: 25rem;
  flex: 1;
  width: 70rem;
  min-height: 50rem;
  display: flex;
  position: absolute;
  justify-content: center;


}

.top-profile-container {
  display: flex;
  flex-direction: row;
  position: absolute;

  width: 100%;
  padding-left: 2.5rem;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: 1px solid #65686c;
  margin-top: 3.5rem;

}


.top-profile-direct {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  align-items: center;
}

.top-profile-right-image {
  margin-top: 3.5rem;
  margin-left: 1rem;
}

.image-chain {
  user-select: none;
  display: flex;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 0.15rem solid #252728;
  background-color: #fdfdfd;
  margin-left: -0.5rem;
}

.top-profile-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-profile-camera {
  z-index: 1000;
  cursor: pointer;
  color: black;
  background-color: white;
  width: 11.5rem;
  height: 2.5rem;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 1rem 1rem 0;
  justify-content: space-around;
  align-items: center;
  display: flex;
  border-radius: 0.5rem;

}

.top-left-profile {
  display: flex;
  flex-direction: row;
}

.mid-profile-container {
  margin-top: 15rem;
  width: 100%;
}

.mid-profile-navigate {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

}

.mid-profile-navigate-left {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mid-profile-navigate-card {
  margin-left: 1rem;
  height: 100%;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  font-size: 1.25rem;
  font-weight: bold;

  cursor: pointer;
  user-select: none;

}

.mid-profile-navigate-card-blue {
  user-select: none;
  margin-left: 1rem;
  height: 100%;
  width: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;

  color: #0866ff;
  font-size: 1.25rem;
  font-weight: bold;
  border-bottom: 0.25rem solid #0866ff;
  cursor: pointer;
}

.mid-profile-combination {
  display: flex;
  height: 100%;
  background-color: #1c1c1d;
  /* background-color: #0866ff; */

  flex-direction: row;
}

.mid-profile-combination-friend {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #252728;
  border-radius: 0.5rem;
  /* background-color: #0866ff; */
  flex-direction: column;
  /* gap: 1rem; */
}

.infor-profile-container {
  position: relative;
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 25rem;
  min-height: 25rem;
  user-select: none;
  background-color: #252728;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.post-profile-container {
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  border-radius: 1rem;
  color: white;
  flex-direction: column;
  flex: 3;
  background-color: #1c1c1d;
  padding: 0.5rem;
}

.video-card-container {


  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  /* width: 30rem; */

  /* height: 100%; */

}


.spinner-container {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 10000;
  left: 0;

}

.spinner {
  height: 10vh;
  width: 10vh;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  border: 0.5rem solid;
  border-color: #0866ff transparent #0866ff transparent;
  animation: spin 1.3s linear infinite;
}

.loading-name-post {

  width: 5rem;
  height: 1rem;
  border-radius: 2rem;
  animation: loadingPost 1.5s infinite;
}

.loading-text {
  max-width: 15rem;
  width: 15rem;
  margin-left: 1rem;
  height: 1rem;
  border-radius: 2rem;
  animation: loadingPost 1.5s infinite;
}

.loading-text-mes {
  max-width: 20rem;
  width: 20rem;
  margin-left: 1rem;
  height: 2rem;
  border-radius: 2rem;
  animation: loadingPost 1.5s infinite;
}

.loading-time-post {
  margin-top: 0.5rem;
  width: 7rem;
  height: 1rem;
  border-radius: 2rem;
  animation: loadingPost 1.5s infinite;
}

.loading-image-post {
  margin-top: 2rem;
  height: 30rem;
  border-radius: 1rem;
  padding: 2rem;
  animation: loadingPost 1.5s infinite;

}

.emoji-loading-post {
  /* background-color: #0866ff; */
  height: 2rem;
  width: 5rem;
  animation: loadingPost 1.5s infinite;
  border-radius: 2rem;

}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}



.mid-profile-navigate-card:hover {
  background-color: #3b3d3e;
  border-radius: 0.5rem;
}

.messenger-down-icon-left:hover {
  background-color: #424546;
}

.messenger-down-icon-right:hover {
  background-color: #424546;
}

.text-comment-reply:hover {
  text-decoration: underline;
}

.left-home-items-like:hover .emoji-appear {
  visibility: visible;
  display: block;
  animation: Moveup 0.3s ease-in-out forwards;
}

.left-home-items-like:hover {
  background-color: #333334;
}

.emoji-post:hover {
  transform: scale(1.3);
}

.video-container {
  margin-top: 3.5rem;
  justify-content: center;
  color: #ddd;
  scrollbar-width: 0;
  -ms-overflow-style: none !important;
  width: 100%;
  align-items: center;
  flex: 1;
  height: 100%;
  top: 0;
  overflow: auto;
  /* background-color: #242526; */
  background-color: #1c1c1d;
  /* background-color: red; */

}

.skeleton-comment {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.skeleton-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  animation: pulse 1.5s infinite;
}

.skeleton-text {
  margin-left: 10px;
  width: 100%;
}

.skeleton-line {
  height: 10px;
  width: 80%;
  background: #ddd;
  border-radius: 5px;
  animation: loadingPost 1.5s infinite;
  margin-bottom: 5px;
}

.skeleton-line-short {
  width: 50%;
}

.user-item-emoji-container {
  /* background-color: red; */
  width: 100%;
  padding: 1.5rem;
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-item-emoji-left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user-item-emoji-text {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
  cursor: pointer;
}

.user-item-emoji-text:hover {
  text-decoration: underline;
}

.dropdown-search-container {
  position: fixed;
  background-color: #252728;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin-top: 24rem;
  height: 21rem;
  width: 18rem;
}

.loading-search {


  border: 0.4rem solid transparent;
  border-right: 0.4rem solid #444446;
  border-left: 0.4rem solid #444446;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  animation: loading 1s infinite linear;

}
.left-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 21vw;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadingPost {
  0% {
    background: #4f5151;
  }

  50% {
    background: #999a9b;
  }

  100% {
    background: #4f5151;
  }
}

@keyframes Moveup {
  from {
    opacity: 0;

    transform: translateY(0);
  }

  to {
    opacity: 1;

    transform: translateY(-5vh);
  }
}

@media (max-height:625px) {

  .home-input {
    display: none;
  }
}

@media (max-width: 870px) {

  html,
  body {
    overflow-x: hidden;
  }
  .left-nav {
    flex:1
  } 

  .home-icon-right-container {
    width: 19.5vw;
    width: 100%;
    /* Chiếm hết phần cha */
    max-width: 13rem;



  }

  

  .home-icon-middle-container {
    display: none;
  }

  .navbar {
    width: 100%;
  }

  .text-login-container {
    display: flex;
    flex-direction: column;
  }

  .text-login-container h2 {
    text-align: center;

  }

  .home-input {
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    flex: 1;
    min-width: 0;
  }

  .mid-profile-combination {
    flex-direction: column;
  }

  .mid-profile-navigate {
    justify-content: center;
  }

  .mid-profile-container {
    margin-top: 1rem;
  }

  .body-profile {
    flex-direction: column;
    align-items: center;
  }

  .top-left-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top-profile-camera {
    /* margin-left: 30vh; */
    width: 3rem;
    /* position: absolute; */
  }

  .top-profile-camera p {
    display: none;
  }

  .top-profile-right-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-top: 2.5rem;
  }

  .top-profile-direct {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .top-profile-container {
    justify-content: center;
    position: relative;
    padding-left: 0;
    width: 40rem;
    /* align-items: center; */
  }

  .image-profile {
    width: 60rem;

  }

  .login {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .facebook-text-login {
    text-align: center;

  }

  .auth-container {
    background-color: white;
    height: 30rem;
    width: 30rem;
    border-radius: 1rem;
  }




  .right-home {
    width: 0;
    height: 0;
  }

  .mid-home {
    margin-right: 0;
  }



}

@media (max-width:1096px) {
  .left-home {
    height: 0;
    width: 0;
  }

  .mid-home {
    margin-left: 0
  }
}

/*

.logo {
#0866ff
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */