body {
  overflow: hidden; 
  
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
  
}
.hr-facebook-home{
  border: 0.1px solid #3a3c3d
}

.container{
  
  display: flex;
  flex-direction: column;
}
.login{
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  /* align-items: center; */
  justify-content: space-around;
  background-color: #f0f2f5;
  padding-top: 30vh;
} 
.register-container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  
  /* align-items: center; */
  justify-content: space-around;
  background-color: #f0f2f5;
  padding-top: 5vh;
}
.register-form{
  height: 75vh;
  width: 65vh;
  box-shadow:0px 5px 5px 5px #dee0e2; ;
  border-radius:1.3vh ;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.register-name{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  max-width: 100%;
  margin-top: 3vh;
  justify-content: space-around;
}
.register{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-login-container{
  max-width: 45vh;
}
.facebook-text-login{
  font-size:7vh;
  color:#0866ff;
}
.auth-container{
  background-color: white;
  height: 60vh;
  width: 60vh;
  border-radius: 2vh;
  margin-top: -10vh;
}
.form-login-container{
  display: flex;
  flex-direction:column ;
  align-items: center;
  margin-top: 3vh;
  height: 50vh;
  margin-bottom: 3vh;
}
.login-input{
  border: 1px solid #ddd;
  border-radius: 0.8vh;
  width: 50vh;
  height: 7vh;
  margin-bottom: 3vh;
  text-align: start;
  outline: #0866ff;
  padding: 2vh 6vh 2vh 2vh;
  font-size: 2.5vh;
}

.password-container{
  display: flex;
  align-items: center;
  position: relative
}
.login-input:focus{
  border: 1px solid #0866ff;
  box-shadow: 0 0 2px rgba(24, 119, 242, 0.5);
}
.register-gender{
  
  border: 1px solid #ddd;
  border-radius: 0.8vh;
  width: 50vh;
  height: 7vh;
  margin-bottom: 3vh;
  text-align: start;
 
  padding: 2vh 6vh 2vh 2vh;
  font-size: 2.5vh;
}

.eye-icon{
  position: absolute;
  /* align-items: flex-end; */
  right: 2vh;
  margin-bottom: 3vh;
  /* top: 50%; */
  

  cursor: pointer;
  font-size: 18px;
  color: gray;
}

.date-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh;
  margin-top: 2vh;
}
.gender-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3vh;
  margin-top: 2vh;
  box-sizing: border-box;
}
.label-gender-register{
  display: flex;
  width: 17vh;
  height: 5vh;
  border: 1px solid #ddd;
  border-radius: 0.8vh;
  align-items: center;
  justify-content: space-around;
  box-sizing: border-box;
   
  /*align-self: center; */
}
.navbar{
  background-color: #252728;
  height: 7vh;
  border-bottom: 1px solid #3a3c3d;
  display: flex;
  flex-direction: row;
  top:0px;
  position: sticky;
  align-items: center;
  z-index: 2000;
}
.home{
  background-color: #1c1c1d;
  height: 100vh;
}
.facebook-icon{
  height: 5vh;
  width: 8vh;
}
.home-input{
  width: 35vh;
  border-radius: 3vh;
  height: 5vh;
  background-color: #333334;
  border: none;
  padding: 2vh 6vh 2vh 2vh;
  color: white ;
}
.home-input:hover{
  border: none ;
}
.home-icon-middle-container{
  display: flex;
  max-width: 45%;
  margin-left: 10vw;
  margin-right: 20vh;
  left:50vw;
  
  overflow: hidden;
}

.home-icon-middle{
  color:#b0b3b8;
  height: 7vh;
  width: 17vh;
  font-size: 2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transform: scale(0.5); */
  
  
}
.home-icon-middle:hover{
  background-color: #333334;
  
}
.home-icon-middle svg {
  transform: scale(0.5); /* Chỉ scale SVG, không ảnh hưởng border */
}
.home-icon-right-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  width: 25vh;
  position: absolute;
  right: 0; 
  
  margin-left: 4vh;

}
.home-icon-right{
  color: white;
  padding-top: 0.5vh;
  
}
.icon-round-background{
  display: flex;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
   background-color: #3b3d3e;
  text-align: center;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative; 
}
.home{
  display: flex;
  height: 100vh;
  
  
}
.left-home{
  color: #ddd;
  width: 20vw;
  margin-left: 1vw;
  margin-top: 2vh;
  
  overflow: auto;
}
.mid-home{
  display: flex;
  flex-direction: column;
  color: #ddd;
  scrollbar-width: 0;
  -ms-overflow-style: none !important;
  width: 55vw; 
  align-items: center;
  flex: 1;
  height: 100%;
  overflow-y: auto;
}
.mid-home > *{
 width: 70%;
}
.left-home::-webkit-scrollbar {
  display: none;
}
.mid-home::-webkit-scrollbar {
  display: none;
}
.right-home::-webkit-scrollbar {
  display: none;
}
.right-home{
  overflow: auto;
  color: #ddd;
  width: 20vw;
  margin-top: 2vh;
}
.left-home-items,.left-home-items-like{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1vh;
  margin-bottom: 2vh;
  cursor: pointer;
  user-select: none;
}
.left-home-items:hover{
  background-color: #333334;
}

.left-home-text{
  margin-left:2vh;
  font-size:2vh;
  font-weight:600;
}
.create-post-container{
  height: 15vh;
  margin-top: 2.5vh;
  border-radius: 1vh;
  background-color: #252728;
  padding:1.5vh;
}
.post-list-container{
  margin-top:2vh;
  margin-bottom:8vh;
  
}
.post-container{
  margin-bottom: 2vh;
  background-color: #252728;
  
  min-height: 85vh;
  
}
.user-post-container{
  height: 7vh;
  display: flex;
  flex-direction: row;
  padding: 1.25vh;
  /* position: relative; */
  /* margin-bottom: 2vh; */
  /* background-color: red; */
}
.text-post-container{
  padding: 1.25vh;
}
.text-post{
  white-space: pre-line;
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  font-size: 1.9vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-wrap: break-word;
  
}
.text-post-comment{
  white-space: pre-line; 
  -webkit-box-orient: vertical;
  font-size: 1.9vh;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  word-wrap: break-word;
}

/* .text-post expanded {
  -webkit-line-clamp: unset;
  
} */
.read-more {
  cursor: pointer;
}

.text-post.expanded {
  -webkit-line-clamp: unset; 
  overflow: visible;
}

.image-post{

    width: 100%;
    height: 100%;

  /* height: 100%; */
}
.interact-post{
  
  display: flex;
  flex-direction: column;
}
.infomation-interact-post{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.text-infomation-interact-post{
  color: #9b9fa3;
  font-size: 2vh;
  margin-right: 1vh;

}
.text-infomation-interact-post:hover{
  text-decoration: underline;
}
.action-interact-post{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  position: relative;
}
.modal-comment-container{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    top:0;
    left:0;
    z-index: 100;
}
.modal-comment-box{
  display: flex;
  flex-direction: column;
  width: 83vh;
  height: 100%;
  border-radius: 1vh;
  padding-top: 7vh;
  background-color: #252728;
  overflow: auto;
  scrollbar-width: 0;
  -ms-overflow-style: none !important;
  position: relative;
  overflow-y: auto;
}
.close-button{
  right:0;
  top:0;
  height:7vh;
  width:7vh;
   position:absolute;
   padding:2vh 2vh 0 0;
   cursor:pointer;
}
.emoji-appear{
  position: absolute;
  width: 35vh;
  top:0;
  left:0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 5vh;
  background-color: #1c1c1d;
  border-radius: 10vh;
  opacity: 0;
  
}
.left-home-items-like:hover .emoji-appear {
  visibility: visible;
  animation: Moveup 0.3s ease-in-out forwards;
}

.left-home-items-like:hover {
  background-color: #333334;
 
}
.emoji-post:hover{
  transform: scale(1.3);
}
@keyframes Moveup{
  from{
    opacity: 0;
    
    transform: translateY(0);
  } to{
    opacity: 1;
    
    transform: translateY(-5vh);
  }
}


@media (max-width: 870px) {
  .login{
    flex-direction: column;
    align-items: center;
    padding-top: 0vh;
  }
  .facebook-text-login{
    text-align: center;
    
  }
  .auth-container{
    background-color: white;
    height: 60vh;
    width: 60vh;
    border-radius: 2vh;
  }
  .home-icon-middle{
    color:#b0b3b8;
    height: 0vh;
    width: 0vh;
   
  }
  .right-home{
    width: 0;
    height: 0;
  }
 
  
    
}
@media (max-width:1096px){
  .left-home{
    height: 0;
    width: 0;
  }
}
/*

.logo {
#0866ff
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
